*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif; 
    
}



body {
    font-family: "Poppins", sans-serif;
    background-color:rgb(245, 202, 147);
  }

   .titulo{
    margin-top: 10vh;
    padding: 2vh;
    display: flex;
    justify-content: center;
  }

  .container-viagens{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    width: 100vw;
    height: 80vh;
    padding-top: 4em;
    padding-left: 2em;
    padding-right: 4em;
    margin-top: 15vh;
  }
   
   
   /*Hover*/
   .card:hover {
    border-color: #00ad90;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   

  

  