@media (max-width:768px){
    .h{
        display: block;
    }
    .h.active.bar:nth-child(2){
        opacity: 0;
    }
    .h.active.bar:nth-child(2){
       transform: translateY(8px) rotate(45deg);
    }
    .h.active.bar:nth-child(2){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-list{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    
    }
    
    
    .plano-fundo{
      display: flex;
      width:100vw;
    }
    .container-viagens{
        display: flex;
        flex-direction:column;
        justify-content: center;
        justify-content: space-around;
        width: 100vw;
        height: 120vh;
        padding-top: 4em;
        padding-left: 2em;
        padding-right: 4em;
        margin-top: 15vh;
      }
    
      .container-viagens2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
        width: 100vw;
        height: 50vh;
        padding-top: 4em;
        padding-left: 4em;
        padding-right: 4em;
        margin-top: 15vh;
      }

      .contatos{
        display: flex;
        flex-direction:row;
        justify-content: center;
      }
      .rede{
        display: flex;
        flex-direction:row;
        align-items: center;
        padding: 9vh;
        margin-top: 1rem;
        margin-left: 1rem;
        height: 30vh;
        width: 30vw;
        justify-content: center;
        transition: all 0.3s ease-out;
        text-decoration:none;
        
      }
      footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        height:30vh;
        font-size: 0.7rem;
        padding: 15px;
        padding-inline-start: 20px;
        margin-top: 40vh;
    }
    
}

@media screen and (min-width:320px){
    .contatos{
        display: flex;
        flex-direction:column;
        justify-content: center;
      }
      .rede{
        display: flex;
        flex-direction:row;
        align-items: center;
        padding: 9vh;
        margin-top: 1rem;
        margin-left: 0rem;
        height: 16vh;
        width: 70vw;
        justify-content: center;
        transition: all 0.3s ease-out;
        text-decoration:none;
}
}

@media screen and (min-width:1024px){
    .container-viagens{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
        width: 100vw;
        height: 80vh;
        padding-top: 4em;
        padding-left: 2em;
        padding-right: 4em;
        margin-top: 15vh;
      }
    
      .container-viagens2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
        background-color:rgb(245, 202, 147);
        width: 100vw;
        height: 70vh;
        padding-top: 4em;
        padding-left: 2em;
        padding-right: 4em;
        margin-top: 15vh;
      }
      .plano-fundo{
        display: flex;
        width:100vw;
      }
      .contatos{
        display: flex;
        flex-direction:column;
        justify-content: center;
        margin-bottom: 20vh;
      }
      .rede{
        display: flex;
        flex-direction:row;
        align-items: center;
        padding: 9vh;
        margin-top: 1rem;
        margin-left: 0rem;
        height: 16vh;
        width: 30vw;
        justify-content: center;
        transition: all 0.3s ease-out;
        text-decoration:none;
}
}